@import "tailwindcss";

:root {
  --background-colour: #0a1822;
  --font-colour: #f5f5f5;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: var(--background-colour);
  color: var(--font-colour);
  font-family: Arial, Helvetica, sans-serif;
}
